.product{
    max-width: 250px;
    // min-width: 200px;
    border: 1px solid #333;
    border-radius: 10px;
    overflow: hidden;

    margin: 15px;

    .product-{&heading, &body, &footer {
        // width: 100%;
        // display: block;
    }}

    .product-heading{
        .product-image{
            img{
                width: 100%;
            }
        }
    }

    .product-body{

        padding: 15px;

        .product-name{
            margin-bottom: 5px;
        }

    }

    .product-footer{
        padding: 15px;
    }

}