<div class="card mb-3">
    <img class="card-img-top" [src]="product.image" [alt]="product.name">
    <div class="card-body">
        <span><b>{{ product.name }}</b></span><br />
        <span>{{ product.price | currency: 'R ' }}</span>
    </div>
    <div class="card-footer">
        <button *ngIf="!productInCart(product.id)" class="btn btn-block btn-primary" (click)="addToCart(product)">Add to cart</button>

        <section class="flex text-center" *ngIf="productInCart(product.id)">
            <button (click)="addToCart(product)" class="btn btn-primary">+</button>
            <input #productQty (change)="addToCart(product, productQty.value)" [value]="this.cartQuery.getProduct(product.id)['quantity']" class="form-control mx-5" />
            <button (click)="removeFromCart(product)" class="btn btn-danger">-</button>
        </section>
    </div>
</div>